@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@200;500&family=Parisienne&family=The+Nautigal:wght@100;700&display=swap');
  
  body {
  font-family: Birthstone Bounce, Arial, sans-serif;
  background: #cc0052;
  color: white;
  text-align: center;
    font-size: 50px
}
div {
  display: flex;
  flex-direction: row;
}

ul li {
  text-align: left;
  font-family: Square Peg
}

img {
  width: 15%;
  height: auto;
  margin-left: 700px;
}
